.login-container {
  width: 100%;
  padding: 1.5rem;
  background: #126782;
  background: linear-gradient(90deg, rgba(18,103,130,1) 54%, rgba(18,117,148,1) 78%, rgba(18,129,163,1) 100%);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.login-form {   
  margin-top: 5rem;
  background: #fff;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-form:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.login-title {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #002245f3;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: start;
}

.login-label {
  display: block;
  color: #374151;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.login-input {
  width: 100%;
  padding: 10px 14px;
  border: 1.5px solid #d1d5db;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.login-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.25);
}

.login-button {
  width: 100%;
  background: #2563eb;
  color: white;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 1rem;
}

.login-button:hover {
  background: #1e40af;
}

.login-button:disabled {
  background: #93c5fd;
  cursor: not-allowed;
}

.login-error {
  color: #ef4444;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}
/* Mensaje de éxito */
.login-success {
  background-color: #d4edda; /* verde claro */
  color: #155724; /* verde oscuro para el texto */
  border: 1px solid #c3e6cb; /* borde verde suave */
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
  animation: fadeIn 0.5s ease-in-out;
}

/* Animación opcional */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
