.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Poppins';
  gap: 2rem;
  background: #126782;
  background: linear-gradient(90deg, rgba(18,103,130,1) 54%, rgba(18,117,148,1) 78%, rgba(18,129,163,1) 100%);  
  height: 850px;
}

.form-rutina {
  color: #081a2df3;
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.form-rutina h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600; 
}

.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input,
.campo select,
.campo textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.botones {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #005ecc;
}
